<div class="row">
    <div class="title">
        <img src="https://penny.co/wp-content/uploads/2020/07/Penny-Logo.svg" alt="Penny" height="25">
        <span><b>Marketplace</b></span>
    </div>
    <div class=" search-bar">
<app-search placeHolder="Search by Product name" (searchText)="onSearch($event)"></app-search>
    </div>

</div>