.row {
    display: flex;
    padding: 0.5rem 1.5rem;
    .title {
        display: flex;
        align-items: flex-end;
        flex: 0;
        padding-right: 4rem;
    }

    .search-bar {
        width: 50%;
        .search-icon {
            position: relative;
            right: 43px;        
        }
    }
}




@media only screen and (max-width: 600px) {
    .row {
        display: block;
        .search-bar {
            width: 100%;
        }

    }
  }