/* You can add global styles to this file, and also import other style files */

.flex-1 {
    flex: 1;
}
.flex-0 {
    flex: 0;
}
.flex-2 {
    flex: 2;
}
.d-flex {
display: flex;
}


.f-justify-center{
    display: flex;
    justify-content: center;
}

.button {
    margin: 0.5rem 1rem;
    // border: 1px solid blue;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 20px;
}