<div>
    <div class="card-container">
        <img src="{{iconUrl}}" height="70">
        <div class="card-text-1">
           {{cardHeaderText}}
        </div>
        <div class="card-text-2">
            {{cardBodyText}}
        </div>
        <div class="card-text-3">
        {{cardFooterText}}
        </div>
        <div class="f-justify-center btn-parent">
            <div class="button">
                <span>
                    {{btnText}}
                </span>

            </div>
        </div>

    </div>
    <div>