:host{
    .button {
        border: 1px solid blue;
    }
    
}


.btn-parent:hover{
   cursor: pointer;
}
.card-text-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 23px;
} .card-text-3,.card-text-1{
    padding: 0.5rem;
}

.card-text-3{
    padding-top: 2rem;
}

.card-text-1{
    padding-bottom: 1rem;
}
