<div class="paginator-container">
    <select name="cars"  class="page-size" [(ngModel)]="selectedPageSize" (change)="setPagainatorControls($event)">
     <option [value]="paze_size"  *ngFor="let paze_size of PAZE_SIZES"> {{paze_size}}</option>
      </select>
<div class="paginator-controls">
       <img height="30" (click)="selectPageNumber(pageNumbers[0].value)" [ngClass]="{'disabled' : isFirst}"  src="assets/icons/double_arrow_left.svg">
       <!-- <span> -->
        <img  height="30" (click)="selectPageNumber(selectedPageNumber - 1)" [ngClass]="{'disabled' : isFirst}"  src="assets/icons/arrow_left.svg">
       <!-- </span> -->
       <span *ngFor="let pageNumber of pageNumbers" [ngClass]="{'hidden': !pageNumber.isVisibled , 'selected-page-number':selectedPageNumber==pageNumber.value }">
         <span (click)="selectPageNumber(pageNumber.value)">{{pageNumber.value}}</span> 
       </span>
       <img  height="30" (click)="selectPageNumber(selectedPageNumber+1)" [ngClass]="{'disabled' : isLast}"  src="assets/icons/arrow_right.svg">
       <img  height="30" (click)="selectPageNumber(pageNumbers[pageNumbers.length - 1].value)" [ngClass]="{'disabled' : isLast}" src="assets/icons/double_arrow_right.svg">
       <!-- <span> -->
     
</div>
</div>
