.paginator-container {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0.5rem 2rem;
    .page-size {
        width: 10rem;
        /* text-align: -webkit-match-parent; */
        padding: 0rem 5px;
        height: 30px;
        border-radius: 10px;
        margin: 0rem 1.5rem;
    }

    .paginator-controls {
        display: inline-flex;
        vertical-align: middle;
        min-width: 219px;
        span {
            padding: 6px;
            font-size: 18px;
        }
        .selected-page-number {
            background: gray;
        }
        img,
        span {
            cursor: pointer;
        }
        .hidden {
            display: none;
        }
        .disabled {
            opacity: 0.5;
        }
    }
}
