.full-height {
    height: 100%;
    flex-direction: column;
    // height: 222px;
    background: linear-gradient(180deg, #DEDEFF 0%, #F5F6FF 100%);

    display: flex;
    // padding: 10px;
    align-items: center;
    /* display: block; */
    text-align: center;
    .body-text{
        font-size: 14px;
        padding: .5rem;
    }
    .search{
        width: 40%;
    }
}

.header-text{
    flex: 1;
    font-size:24px;
    font-weight: 1000;
    padding-top: 1rem;
}
@media only screen and (max-width: 600px) {
    .search{
        width: 100% !important;
        display: flex;
        justify-content: end;
    }
  }
