<div class="full-height">

    <div class="header-text">
        Supplier Stores
    </div>
    <div class="body-text">
        Visit the supplier store and start dealing with your supplier.<br> With Penny marketplace is one stop to send RFQs,
        Direct Purchase Orders to your suppliers.<br> Track your delivery, bills & payments History and much more...
    </div>

    <div class="search">
        <app-search placeHolder='Search  by Region' (searchText)="filterRegion($event)"></app-search>
    </div>
</div>