.search-icon {
    position: relative;
    right: 43px;        
}

.text-box{
    width: 100%;
    border-radius: 15px;
    padding-right: 35px;
    padding-left: 1rem;

    :focus-visible{
        outline: none;
    }
}

::placeholder {
    font-size: 18px;
  }
