<div class="d-flex">
    <input type="text" #searchBox class="text-box .focus-visible-only"  (keyup)="onKeyUp($event)" [placeholder]="placeHolder"> <img class="search-icon" height="30" (click)="apply()" src="assets/icons/search.png">
</div>