

.suppliers-container {
    font-size: 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 375px;
    overflow: auto;
    margin-bottom: 1rem;
}

.suppliers-list-view{
    flex-flow: column;
    align-items: center;
    height: auto;
}
.supplier {
    font-size: 22px;
    text-align: center;
    padding: 1rem;
    width: 15%;
}

.suppliers-width{
width: 30%;
}
.icons{
display: flex;
img{
    padding: .5rem;
}
}
.back-to-top{
    cursor: pointer;
    padding: 0.5rem;
    background: #f0efff40;
    justify-content: center;
    width: 100%;
    text-align: center;
    position: sticky;
    bottom: 0;
    z-index: 999999;
    background: #FBFBFB;
    padding: .5rem;
}
.supplier:hover {
    // background: red;;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
    cursor: default;
}

@media only screen and (max-width: 600px) {
    .icons{
        display: none;
    }
    .paginator-parent {
        display: block;
    }
    .supplier {
        width: 100%;
    }
    .controls{
        display: block !important;
    }
}
@media all and (device-width: 768px) and (device-height: 1024px) {
    .suppliers-container {
        height: 100%;
    }
    .supplier {
        width: 25%;
    }
}

.button {
    background: #8080800d;
    width: 6rem;
    height: 30px;
}

.controls {
    display: flex;
}

.suppliers-container-list{
    flex-flow: column;
    overflow: auto;
    align-items: center;
}

.selected-view {
    border: 1px dotted grey;
}