<div class="controls">
    <div class="buttons-container d-flex">
    <div class="button">
        <span>
            Location
        </span>

    </div>
    <div class="button">
        <span>
            Category
        </span>

    </div>
    <div class="button">
        <span>
            +More
        </span>

    </div>
    <div class="icons">
 <img (click)="displayItems(true)" [ngClass]="{'selected-view' : isGridView}" src="assets/icons/grid_icon.svg">
 <img (click)="displayItems(false)" [ngClass]="{'selected-view' : !isGridView}" src="assets/icons/list_icon.svg">
    </div>
</div>
    <div class="paginator-parent">
        <app-paginator [itemCount]="suppliers?.length" (pageChange)="pageChange($event)"></app-paginator>
    </div>
</div>

<div class="suppliers-container" [ngClass]="{'suppliers-list-view' : !isGridView , 'suppliers-grid-view' : isGridView}">
    <div *ngFor="let supplier of visibleSuppliers" class="supplier" [ngClass]="{'suppliers-width' : !isGridView }"  #suppliersEl>
        <app-card [cardHeaderText]="supplier.name" [cardBodyText]="supplier.co" [iconUrl]="supplier.icon"
            [cardFooterText]="supplier.region">
        </app-card>
    </div>
    <div class="back-to-top" (click)="scrollToTop()">
        <span >Back to top</span>
    </div>
</div>


<!-- <app-card></app-card> -->