<app-header (filterSuppliers)="filterSuppliers($event)"></app-header>
<app-supplier-store></app-supplier-store>
<!-- <app-paginator ></app-paginator> -->
<app-suppliers-list></app-suppliers-list>
<app-footer [items]="categoriesLlist"></app-footer>

<router-outlet></router-outlet>