<div class="footer-container">
    <div class="footer-section-header">
        Categories
    </div>
    <div class="footer-items">
        <div class="item" *ngFor="let item of items">
            {{item}}
        </div>
    </div>
    
    <div class="footer-text-container">
        <div class="footer-text">
            2020 Penny, All rigts Reserved | for more info visit www.penny.co
        </div>
    </div>