.footer-container{
    height: 100%;
    background: #80808005;
    padding: 1rem 5rem;
    .footer-section-header{
        padding-bottom: .5rem;
        font-weight: 900;
    }
    .footer-items{
        display: flex;
        flex-direction: column;
        border-top: 1px solid black;
        height: 194px;
        flex-wrap: wrap;
        .item{
            padding: 0.5rem;
            width: 19%;
        }

    }
}

.footer-text-container {
    display: flex;
    justify-content: center;
}


    @media only screen and (max-width: 600px) {
        .row {
            display: block;
            width: 100%;
        }
        .footer-container{
            padding: 0;
          }

          .footer-items {
              height: 250px !important;
            max-height: 279px;

          }
      }

